{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h5>Ciao {{ user.username }}!</h5>
        <div style="margin-top: 20px;"></div>
        <p>Ti sei appena scritto in palestra e non hai idea di quali esercizi fare? Puoi scegliere una delle schede base
            create dai nostri Personal Trainer vai su "New Workout"</p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}