{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>My workout</h2>
    <body style="margin:0">
    <div style="height: 20px"></div>
    {% for key, value in Dict.items %}
        <div style="border-radius: 20px; background: #ffe4e1; border: 2px solid #db7093; padding: 20px; width: auto; height: auto;">
            <div style="display: flex; width: 100%; flex-wrap: wrap; justify-content: left">
                <h3>
                    {{ key }}
                </h3>
            </div>
            <div style="display: flex; width: 100%; flex-wrap: wrap; justify-content: left;">
                {% for dati_list in value %}
                    <div style="display: inline-block; width: 100%; flex-wrap: wrap; justify-content: left;">
                        <span><b>{{ dati_list.2 }} -</b></span>
                        <span><b>{{ dati_list.0 }}</b></span>
                    </div>
                    <div style="display: flex; width: 100%; flex-wrap: wrap; justify-content: left; border-bottom: 2px solid #A0A0A0;">
                        <span>{{ dati_list.1 }}</span>
                        <div style="width: inherit; margin-top: 20px;">Numero ripetizioni: {{ dati_list.3 }}</div>
                        <div style="width: inherit;">Carico: {{ dati_list.4 }}</div>
                        <div style="display: flex; height: 30px; width: 100%; position: relative;"></div>
                    </div>
                    <div style="display: flex; height: 30px; width: 100%; position: relative;"></div>
                {% endfor %}
            </div>
            <div style="width: 100%; text-align: right;">
                <input type="submit" name="Submit" value="Submit" style="border: 1px solid #ff5188;">
            </div>
        </div>
        <div style="height: 25px"></div>
    {% endfor %}
    </body>
{% endblock content %}