{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Crea la tua scheda personale</h2>
    <div style="margin-bottom: 20px;"></div>
    <form action="" method="post">{% csrf_token %}
        <label for="id_nomescheda" style="margin-right: 10px; margin-bottom: 10px;"><b>Inserisci nome
            scheda:</b></label>
        <input type="text" id="id_nomescheda" name="n_nomescheda" placeholder="Inserisci nome scheda">
        <div style="margin-bottom: 4px;"><b>Seleziona gli esercizi:</b></div>
        {% for value_esercizio in lista_esercizi %}
            <div style="margin-bottom: 5px;">
                <input type="checkbox" id="id_selex{{ value_esercizio.3 }}"
                       name="n_selex{{ value_esercizio.3 }}">
                <label for="id_selex{{ value_esercizio.3 }}">
                    {{ value_esercizio.1 }}
                </label>
            </div>
        {% endfor %}
        <span>
            {{ CreationResult | safe }}
        </span>
        <div style="margin-top: 20px; margin-bottom: 50px; text-align: center;">
            <input type="submit" name="Aggiungi" value="Aggiungi" style="border: 1px solid #ff5188;">
        </div>
    </form>
{% endblock content %}